<?xml version="1.0"?>
<cruisecontrol>
  <project name="ArchiveOpenCrawler" buildafterfailed="true">
<!--Bootstrappers are run every time the build runs, *before* the
            modification checks
         -->
    <bootstrappers>
      <currentbuildstatusbootstrapper 
        file="logs/ArchiveOpenCrawler/buildstatus.txt"/>
    </bootstrappers>
    <modificationset quietperiod="60" >
      <cvs localworkingcopy="checkout/ArchiveOpenCrawler"/>
    </modificationset>
    <schedule interval="300" >
      <ant buildfile="build-ArchiveOpenCrawler.xml" 
        target="build" 
        uselogger="true" 
        usedebug="true"/>
    </schedule>

    <log dir="logs/ArchiveOpenCrawler">
<!--
      <merge dir="checkout/ArchiveOpenCrawler/target/test-reports/"/>
-->
    </log>

    <!--Publishers are run *after* a build completes.-->
    <publishers>
      <currentbuildstatuspublisher 
        file="logs/ArchiveOpenCrawler/buildstatus.txt"/>
      <artifactspublisher 
        dir="checkout/ArchiveOpenCrawler/target/distributions" 
        dest="artifacts/ArchiveOpenCrawler"/>
      <htmlemail mailhost="mail-dev.archive.org" 
        returnaddress="stack@archive.org" 
        defaultsuffix="@archive.org" 
        buildresultsurl="http://crawltools.archive.org:8080/cruisecontrol/buildresults/ArchiveOpenCrawler" 
        css="/0/cruisecontrol/bin/cruisecontrol/reporting/jsp/css/cruisecontrol.css"    xsldir="/0/cruisecontrol/bin/cruisecontrol/reporting/jsp/xsl" 
        logdir="logs/ArchiveOpenCrawler">
        <always address="buildmasters"/>
        <failure address="buildmasters"/>
        <map alias="buildmasters" 
            address="stack@archive.org gojomo@archive.org"/>
      </htmlemail>
    </publishers>
    <!-- External cruise "plugins" used by this project (none needed) -->
    <plugin name="artifactspublisher" 
       classname="net.sourceforge.cruisecontrol.publishers.ArtifactsPublisher"/>
  </project>
</cruisecontrol>
