input, textarea
{
font-size: 70%;
}

#topnavlinks{
position: relative;
left: 0px;
top: 10px;
width: 700px;
height: 25px;
border: 1px solid #000000;
visibility: visible;
}

#statusmsg{
position: relative;
left: 0px;
top: 15px;
width: 700px;
visibility: visible;
border: 1px solid #000000;
}

#mainmenu {
position: relative;
left: 0px;
top: 20px;
width: 700px;
height:250px; 
border: 1px solid #000000;
visibility: visible;
}

#orderform {
position: relative;
left: 0px;
top: 20px;
width: 700px;
height:250px; 
border: 1px solid #000000;
visibility: visible;
}

#innerlinks {
position: relative;
left: 0px;
top: 50px;
width: 300px;
visibility: visible;
}

#bottomnavlinks{
position: relative;
left: 0px;
top: 25px;
width: 700px;
height: 25px;
border: 1px solid #000000;
visibility: visible;
}
