body         { margin-left: 0; margin-top: 0; margin-bottom: 0; 
               padding: 0; margin-right: 0 }
               
td
{
	font-family: Verdana;
	font-size: 12px;
}

th
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

input
{
	font-family: Verdana;
	font-size: 12px;
}

select
{
	font-family: Verdana;
	font-size: 12px;
}

.subheading
{
	font-size: 12px; font-weight: bold; text-align: center;
}

.dataheader
{
	font-weight: bold; text-align: right; padding-right: 3px;
}

.tab_selected
{
	background-color: #0000FF; padding-left: 5; padding-right: 5; 
}

.tab_text_selected
{
	color: #FFFFFF; font-weight: bold; text-decoration: none;
}

.tab
{
	background-color: #EEEEFF; padding-left: 5; padding-right: 5; 
}

.tab_text
{
	color: #0000FF; font-weight: bold; text-decoration: none;
}

.tab_inactive
{
	background-color: #EEEEEE; padding-left: 5; padding-right: 5; 
}

.tab_text_inactive
{
	color: #FFFFFF; font-weight: bold; text-decoration: none;
}

.tab_seperator
{
	background-color: #FFFFFF; color: #000000; font-weight: bold; padding-left: 2; padding-right: 2; 
	text-decoration: none;
}

.main
{
	padding: 2;
}

.help
{
	text-decoration: none;
}

a.underLineOnHover
{
	text-decoration: none;
}

a:hover.underLineOnHover
{
	text-decoration: underline;
}

