<?xml version="1.0"?>
<cruisecontrol>

  <project name="HEAD-heritrix" buildafterfailed="true">
    <listeners>
    </listeners>

    <!--Bootstrappers are run every time the build runs, *before* the
        modification checks
     -->
    <bootstrappers>
      <currentbuildstatusbootstrapper 
        file="logs/HEAD-heritrix/buildstatus.txt"/>
    </bootstrappers>

    <modificationset quietperiod="60" >
      <cvs localworkingcopy="checkout/HEAD-heritrix"/>
    </modificationset>

    <schedule interval="300" >
      <ant buildfile="build-HEAD-heritrix.xml" 
        target="build" 
        uselogger="true" 
        usedebug="true"/>
    </schedule>

    <log dir="logs/HEAD-heritrix">
      <merge dir="checkout/HEAD-heritrix/target/test-reports/"/>
    </log>

    <!--Publishers are run *after* a build completes.-->
    <publishers>
      <currentbuildstatuspublisher 
        file="logs/HEAD-heritrix/buildstatus.txt"/>
      <artifactspublisher 
        dir="checkout/HEAD-heritrix/target/distributions" 
        dest="artifacts/HEAD-heritrix" />
      <artifactspublisher 
        file="checkout/HEAD-heritrix/target/heritrix.war"
        dest="artifacts/HEAD-heritrix"/>
      <artifactspublisher 
        dir="checkout/HEAD-heritrix/target/jars"
        dest="artifacts/HEAD-heritrix"/>
      <email mailhost="mail-dev.archive.org" 
        returnaddress="stack@archive.org" 
        defaultsuffix="@users.sourceforge.net" 
        buildresultsurl="http://crawltools.archive.org:8080/cruisecontrol/buildresults/HEAD-heritrix"  >
        <always address="buildmasters"/>
        <failure address="buildmasters"/>
        <map alias="buildmasters" 
            address="stack@archive.org gojomo@archive.org"/>
      </email>
    </publishers>
    <!-- External cruise "plugins" used by this project (none needed) -->
    <plugin name="artifactspublisher" 
       classname="net.sourceforge.cruisecontrol.publishers.ArtifactsPublisher"/>
  </project>


  <project name="HEAD-archive-access" buildafterfailed="true">
    <listeners>
    </listeners>
    <!--Bootstrappers are run every time the build runs, *before* the
        modification checks
     -->
    <bootstrappers>
      <currentbuildstatusbootstrapper 
        file="logs/HEAD-archive-access/buildstatus.txt"/>
    </bootstrappers>
    <modificationset quietperiod="60" >
      <cvs localworkingcopy="checkout/HEAD-archive-access"/>
    </modificationset>
    <schedule interval="600" >
      <ant buildfile="build-HEAD-archive-access.xml" 
        target="build" 
        uselogger="true" 
        usedebug="true"/>
    </schedule>
    <log dir="logs/HEAD-archive-access">
      <merge dir="checkout/HEAD-archive-access/target/test-reports/"/>
    </log>

    <!--Publishers are run *after* a build completes.-->
    <publishers>
      <currentbuildstatuspublisher 
        file="logs/HEAD-archive-access/buildstatus.txt"/>
        <!--
      <artifactspublisher 
        dir="checkout/HEAD-archive-access/target/distributions" 
        dest="artifacts/HEAD-archive-access"/>
        -->
      <email mailhost="mail-dev.archive.org" 
        returnaddress="stack@archive.org" 
        defaultsuffix="@users.sourceforge.net" 
        buildresultsurl="http://crawltools.archive.org:8080/cruisecontrol/buildresults/HEAD-archive-access"  >
        <always address="buildmasters"/>
        <failure address="buildmasters"/>
        <map alias="buildmasters" 
            address="stack@archive.org gojomo@archive.org"/>
      </email>
    </publishers>
    <!-- External cruise "plugins" used by this project (none needed) -->
    <plugin name="artifactspublisher" 
       classname="net.sourceforge.cruisecontrol.publishers.ArtifactsPublisher"/>
  </project>

  <project name="HEAD-cmdline-jmxclient" buildafterfailed="true">
    <listeners>
    </listeners>
    <bootstrappers>
      <currentbuildstatusbootstrapper 
        file="logs/HEAD-cmdline-jmxclient/buildstatus.txt"/>
    </bootstrappers>
    <modificationset quietperiod="60" >
      <cvs localworkingcopy="checkout/HEAD-cmdline-jmxclient"/>
    </modificationset>
    <schedule interval="600" >
      <ant buildfile="build-HEAD-cmdline-jmxclient.xml" 
        target="build" 
        uselogger="true" 
        usedebug="true"/>
    </schedule>
    <log dir="logs/HEAD-cmdline-jmxclient">
      <merge dir="checkout/HEAD-cmdline-jmxclient/target/test-reports/"/>
    </log>

    <publishers>
      <currentbuildstatuspublisher 
        file="logs/HEAD-cmdline-jmxclient/buildstatus.txt"/>
      <artifactspublisher 
        dir="checkout/HEAD-cmdline-jmxclient/target/built-jar" 
        dest="artifacts/HEAD-cmdline-jmxclient" />
      <email mailhost="mail-dev.archive.org" 
        returnaddress="stack@archive.org" 
        defaultsuffix="@users.sourceforge.net" 
        buildresultsurl="http://crawltools.archive.org:8080/cruisecontrol/buildresults/HEAD-cmdline-jmxclient"  >
        <always address="buildmasters"/>
        <failure address="buildmasters"/>
        <map alias="buildmasters" 
            address="stack@archive.org"/>
      </email>
    </publishers>
    <plugin name="artifactspublisher" 
       classname="net.sourceforge.cruisecontrol.publishers.ArtifactsPublisher"/>
  </project>

</cruisecontrol>
